*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_container {
    /* background-image: url(./bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
  }

.Colo{
  color:white
}


&::-webkit-scrollbar {
  width: 6px;
}

&::-webkit-scrollbar-thumb {
  background-color: white; /* Change this color to white */
  border-radius: 10px;

&::-webkit-scrollbar-track {
  background-color: #244C73; /* Change this color as needed */
  border-radius: 10px;
}

/* Firefox */
scrollbar-color: white #244C73; /* Change these colors as needed */
}




