*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_container {
    /* background-image: url(./bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
  }

  .hov :hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
<<<<<<< HEAD
=======

.Colo{
  color:white
}
>>>>>>> 0af097fdd240a736ce17a8bf13c494ff337d2fc5
